/* From https://codepen.io/Puine/pen/obQpxj */

/*html{
  height:100%
}
body{
  height:100%;
}*/
.intro{
  height:100%
}

.left{
  /*display : flex;*/
  /*justify-content : center; */
  /*align-items : center;*/)
  /*background-color:#3d231b;*/
  height : 100%;
  /*color : #FFF;*/
  width: 30%;
}
.right{
  /*display : flex;*/
  /* justify-content : center; */
  /*align-items : center;*/
  background-color:#FFF;
  height : 100%;
  color : #3d231b;
  width: 70%;
}
@media (max-width: 1200px) { 
  .left{
    height:50%
  }
  .right{
    height:50%
  }
}
.about{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#000;
  color : #FFF;
  height:100%
}